<span style="font-size: 27px;">Thông tin sinh viên</span>
<br><br>
<form nz-form [formGroup]="submitForm">
    <div style="border-top: 2px solid #66CCFF;">

        <div style="margin-top: 20px;">

            <div class="form-group" nz-row>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="6" nzFor="id" style="font-weight: bold;">Mã sinh viên
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="18" nzErrorTip="Chưa nhập mã sinh viên">
                            <input nz-input type="text" formControlName="id">
                        </nz-form-control>
                    </div>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="10" nzFor="ngaysinh" style="font-weight: bold;">Ngày sinh
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="14" nzErrorTip="Chọn ngày sinh">
                            <input nz-input type="date" placeholder="-Chọn ngày-" formControlName="ngaysinh">
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>

            <div class="form-group" nz-row>
                <nz-form-label nz-col nzSpan="3" nzFor="hoten" style="font-weight: bold;">Họ tên</nz-form-label>
                <nz-form-control nz-col nzSpan="21" nzErrorTip="Chưa nhập họ tên">
                    <input nz-input type="text" formControlName="hoten">
                </nz-form-control>
            </div><br>

            <div class="form-group" nz-row>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="6" nzFor="lop" style="font-weight: bold;">Lớp</nz-form-label>
                        <nz-form-control nz-col nzSpan="18" nzErrorTip="Chưa nhập lớp">
                            <input nz-input type="text" formControlName="lop">
                        </nz-form-control>
                    </div>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="10" nzFor="khoa" style="font-weight: bold;">Khoa
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="14" nzErrorTip="Chưa nhập khoa">
                            <input nz-input type="text" formControlName="khoa">
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>

            <div class="form-group" nz-row>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="6" nzFor="sodienthoai" style="font-weight: bold;">Số điện thoại
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="18" nzErrorTip="Chưa nhập số điện thoại">
                            <input nz-input type="text" formControlName="sodienthoai">
                        </nz-form-control>
                    </div>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="10" nzFor="gioitinh" style="font-weight: bold;">Giới tính
                        </nz-form-label>
                        <nz-select nz-col nzSpan="14" formControlName="gioitinh" nzShowSearch nzAllowClear
                            nzPlaceHolder="Chọn giới tính" [(ngModel)]="selectedValue">
                            <nz-option *ngFor="let sex of sexs" nzLabel="{{sex}}" nzValue="{{sex}}">
                            </nz-option>
                        </nz-select>
                    </div>
                </nz-form-item>
            </div>

            <div class="form-group" nz-row>
                <nz-form-label nz-col nzSpan="3" nzFor="diachi" style="font-weight: bold;">Địa chỉ</nz-form-label>
                <nz-form-control nz-col nzSpan="21" nzErrorTip="Chưa nhập địa chỉ">
                    <input nz-input type="text" formControlName="diachi">
                </nz-form-control>
            </div><br>

            <div *ngIf="checked==true" class="form-group" nz-row>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="6" nzFor="username" style="font-weight: bold;">Username
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="18" nzErrorTip="Chưa nhập username">
                            <input nz-input type="text" formControlName="username">
                        </nz-form-control>
                    </div>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="10" nzFor="password" style="font-weight: bold;">Password
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="14" nzErrorTip="Chưa nhập password">
                            <input nz-input type="password" formControlName="password">
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>

        </div>
    </div>
</form>

<div *ngIf="checked==false">
    <button (click)="loadTK()" style="border: #4caf50; margin-left: 100px; background-color: rgb(22, 187, 63);"
        nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
    <span style="margin-left: 10px; font-weight: bold;">Tài khoản</span>
</div>

<div style="position: relative; height: 50px; margin-top: 50px;">
    <button class="luu" nz-button nzType="primary" (click)="onSubmit()">
        Lưu
    </button>
    <button class="back" nz-button nzType="primary" (click)="back()">
        Trở về
    </button>
</div>