.luu{
    position: absolute;
    right: 100px;
}
.back{
    position: absolute;
    right: 0px;
}
.form-group{
    margin-left: 20px;
    margin-right: 20px;
}
.tinhtien{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 4, 4);
}