<div>
    <span *ngIf="flagPer == 'admin'" style="font-size: 27px;">Quản lý hợp đồng</span>
    <br><br>
    <div style="position: relative;">

        <button *ngIf="flagPer == 'admin'" #buttonThem nz-button nzType="primary" (click)="addContract()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới
        </button>

        <span *ngIf="flagPer == 'student'" style="font-size: 27px;">Thông tin hợp đồng</span><br><br>
        <button *ngIf="flagPer == 'student' && Onestudent==0" #buttonThem nz-button nzType="primary" (click)="registerContract()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>Đăng kí ở KTX
        </button>
        <div style="width: 400px; position: absolute; right: 0%; top: 40px;">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input nz-input placeholder="input search text" (keyup)="onKey($event)" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
        </div>

        <div *ngIf="flagPer == 'admin'" class="tableContract" style="border-top: 2px solid #66CCFF; margin-top: 50px">
            <nz-table #tableList style="margin-top: 10px" #basicTable [nzData]="data" [nzPageIndex]="pageIndex"
                [nzPageSize]="pageSize" [nzTotal]="total">
                <thead>
                    <tr>
                        <th>Mã hợp đồng</th>
                        <th>Tên sinh viên</th>
                        <th>Tòa</th>
                        <th>Tầng</th>
                        <th>Số phòng</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Tình trạng</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.id}}</td>
                        <td>{{data.hoten}}</td>
                        <td>{{data.toanha}}</td>
                        <td>{{data.tang}}</td>
                        <td>{{data.sophong}}</td>
                        <td>{{data.ngaybatdau}}</td>
                        <td>{{data.ngayketthuc}}</td>
                        <td>{{data.tinhtranghopdong}}</td>

                        <td *ngIf="flagPer == 'admin'">
                            <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close"
                                    nzTheme="outline" title="Xóa hợp đồng" (click)="removeContract(data._id)"></i></a>
                            &emsp;
                            <a><i style="font-size: 20px; margin-right: 10px" nz-icon nzType="edit" nzTheme="outline" title="Sửa hợp đồng"
                                    (click)="editContract(data._id)"></i></a>
                            &emsp;
                            <a><i style="color: rgb(49, 2, 255); margin-right: 10px; font-size: 20px;" nz-icon nzType="form"
                                    nzTheme="outline" title="Duyệt đăng kí" (click)="
                                    confirmRegisterContract(data._id)"></i></a>
                            &emsp;
                            <a><i style="font-size: 20px; color: rgb(255, 218, 52);" nz-icon nzType="form" nzTheme="outline" title="Duyệt gia hạn"
                                    (click)="extendContract(data._id)"></i></a>
                        </td>

                        <!-- <td *ngIf="flagPer == 'student'">
                            <a><i style="margin-right: 10px; font-size: 20px;" nz-icon nzType="form" nzTheme="outline"
                                    title="Xem hợp đồng" (click)="extendContract(data._id)"></i></a>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </div>

        <!-- //student -->
        <div *ngIf="flagPer == 'student'" class="tableContract" style="border-top: 2px solid #66CCFF; margin-top: 50px">
            <nz-table #tableList style="margin-top: 10px" #basicTable [nzData]="dataOneStudent" [nzPageIndex]="pageIndex"
                [nzPageSize]="pageSize" [nzTotal]="total">
                <thead>
                    <tr>
                        <th>Mã hợp đồng</th>
                        <th>Tên sinh viên</th>
                        <th>Tòa</th>
                        <th>Tầng</th>
                        <th>Số phòng</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Tình trạng</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.id}}</td>
                        <td>{{data.hoten}}</td>
                        <td>{{data.toanha}}</td>
                        <td>{{data.tang}}</td>
                        <td>{{data.sophong}}</td>
                        <td>{{data.ngaybatdau}}</td>
                        <td>{{data.ngayketthuc}}</td>
                        <td>{{data.tinhtranghopdong}}</td>

                        <td>
                            <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close"
                                    nzTheme="outline" title="Chấm dứt hợp đồng" (click)="removeContractStudent(data._id)"></i></a>
                            &emsp;
                            <a><i style="font-size: 20px; color: rgb(255, 218, 52);" nz-icon nzType="form" nzTheme="outline" title="Gia hạn HĐ"
                                    (click)="extendContractStudent(data._id)"></i></a>
                        </td>

                        <!-- <td *ngIf="flagPer == 'student'">
                            <a><i style="margin-right: 10px; font-size: 20px;" nz-icon nzType="form" nzTheme="outline"
                                    title="Xem hợp đồng" (click)="extendContract(data._id)"></i></a>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>