<span style="font-size: 27px;">Dashboard</span><br><br><br>
<div nz-row>
    <div style="background-color: rgb(134, 134, 252); margin-right: 30px; margin-left: 30px;" class="report" nz-col nzSpan="5">
        <br><span>{{total}}</span><br><span>Tổng số phòng</span>
    </div>
    <div style="background-color: rgb(78, 78, 161); margin-right: 30px;"  class="report" nz-col nzSpan="5">
        <br><span>{{contractLength}}</span><br><span>Tổng số hợp đồng</span>
    </div>
    <div style="background-color: rgb(184, 92, 92); margin-right: 30px;"  class="report" nz-col nzSpan="5">
        <br><span>{{roomFull}}</span><br><span>Số phòng đã đầy</span>
    </div>
    <div style="background-color: rgb(149, 151, 42);"  class="report" nz-col nzSpan="5">
        <br><span>{{roomEmpty}}</span><br><span>Số phòng còn trống</span>
    </div>
</div>
<div nz-row style="margin: auto;">
    <div nz-col nzSpan="10" style="text-align: right;">
        <span style="font-size: 16px;">Nhóm 2:</span>
    </div>
    <div nz-col nzSpan="14" class="note">
        <span>Trịnh Trung Hiếu</span><br>
        <span>Lê Huy Quang Anh</span><br>
        <span>Vũ Bá Thọ</span><br>
        <span>Nguyễn Tiến Thăng</span>
    </div>
</div>