<span style="font-size: 27px;">Thông tin hợp đồng</span>
<br><br>
<form nz-form [formGroup]="submitForm">
    <div style="border-top: 2px solid #66CCFF;">

        <div style="margin-top: 20px;">

            <div class="form-group" nz-row>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="6" nzFor="phongid" style="font-weight: bold;">Mã phòng
                        </nz-form-label>
                        <nz-select nz-col nzSpan="18" formControlName="phongid" nzShowSearch nzAllowClear
                            nzPlaceHolder="-Chọn mã phòng-" [(ngModel)]="selectedRoom">
                            <nz-option *ngFor="let phongid of RoomIDs" nzLabel="{{phongid}}"
                                nzValue="{{phongid}}">
                            </nz-option>
                        </nz-select>
                    </div>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="12">
                     <div nz-row>
                        <nz-form-label hidden nz-col nzSpan="10" nzFor="tinhtranghopdong" style="font-weight: bold;">Tình Trạng
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="14" nzErrorTip="Chưa nhập tình trạng">
                            <input hidden nz-input type="text" formControlName="tinhtranghopdong">
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>

            <div class="form-group" nz-row>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="6" nzFor="ngaybatdau" style="font-weight: bold;">Ngày bắt đầu
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="18" nzErrorTip="Chọn thời gian">
                            <input nz-input type="date" formControlName="ngaybatdau" placeholder="-Chọn ngày-">
                        </nz-form-control>
                    </div>
                </nz-form-item>
                <nz-form-item nz-col nzSpan="12">
                    <div nz-row>
                        <nz-form-label nz-col nzSpan="10" nzFor="ngayketthuc" style="font-weight: bold;">Ngày kết thúc
                        </nz-form-label>
                        <nz-form-control nz-col nzSpan="14" nzErrorTip="Chọn thời gian">
                            <input nz-input type="date" formControlName="ngayketthuc" placeholder="-Chọn ngày-">
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>

        </div>
    </div>
</form>

<div style="position: relative; height: 50px; margin-top: 50px;">
    <button class="luu" nz-button nzType="primary" (click)="onSubmit()">
        Lưu
    </button>
    <button class="back" nz-button nzType="primary" (click)="back()">
        Trở về
    </button>
</div>

