<div *ngIf="flagPer=='admin'">
  <span style="font-size: 27px;">Quản lý phòng</span>
  <br><br>
  <div style="position: relative;">

    <button #buttonThem nz-button nzType="primary" (click)="addRoom()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm phòng mới
    </button>

    <div style="width: 400px; position: absolute; right: 0%; top: 0%;">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input nz-input placeholder="input search text" (keyup)="onKey($event)" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>

    <div class="tableRoom" style="border-top: 2px solid #66CCFF; margin-top: 50px">
      <nz-table #tableList style="margin-top: 10px" #basicTable [nzData]="data" [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize" [nzTotal]="total">
        <thead>
          <tr>
            <th>Mã phòng</th>
            <th>Tòa nhà</th>
            <th>Tầng</th>
            <th>Số người tối đa</th>
            <th>Số giường</th>
            <th>Giới tính</th>
            <th>Giá phòng</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.id}}</td>
            <td>{{data.toanha}}</td>
            <td>{{data.tang}}</td>
            <td>{{data.songuoitoida}}</td>
            <td>{{data.sogiuong}}</td>
            <td>{{data.gioitinh}}</td>
            <td>{{data.giaphong}}</td>

            <td>
              <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close" nzTheme="outline"
                  title="Xóa" (click)="removeRoom(data._id)"></i></a>
              &emsp;
              <a><i style="font-size: 20px;" nz-icon nzType="edit" nzTheme="outline" title="Sửa"
                  (click)="editRoom(data._id)"></i></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<div *ngIf="flagPer=='student'">
  <span style="font-size: 27px;">Thông tin phòng</span>
  <br><br>
  <div style="position: relative;">

    <button #buttonThem nz-button nzType="primary" (click)="showRoomEmpty()">
      <i nz-icon nzType="eye" nzTheme="outline"></i>Xem phòng trống
    </button>

    <div class="tableRoom" style="border-top: 2px solid #66CCFF; margin-top: 50px">
      <nz-table #tableList style="margin-top: 10px" #basicTable [nzData]="data" [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize" [nzTotal]="total">
        <thead>
          <tr>
            <th>Mã phòng</th>
            <th>Tòa nhà</th>
            <th>Tầng</th>
            <th>Số người tối đa</th>
            <th>Số giường</th>
            <th>Giới tính</th>
            <th>Giá phòng</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.id}}</td>
            <td>{{data.toanha}}</td>
            <td>{{data.tang}}</td>
            <td>{{data.songuoitoida}}</td>
            <td>{{data.sogiuong}}</td>
            <td>{{data.gioitinh}}</td>
            <td>{{data.giaphong}}</td>

            <!-- <td>
              <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close" nzTheme="outline"
                  title="Xóa" (click)="removeRoom(data._id)"></i></a>
              &emsp;
              <a><i style="font-size: 20px;" nz-icon nzType="edit" nzTheme="outline" title="Sửa"
                  (click)="editRoom(data._id)"></i></a>
            </td> -->
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>