<!-- <p>Login</p>
<button (click)="chuyen()">Test</button> -->

<app-login></app-login>
<!-- <nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#">
        <img src="../assets/icon/icon-idea.png" alt="logo">
        <h1>HNUE</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <i nz-icon nzType="radius-setting"></i>
        <span><a routerLink="dashboard">Dashboard</a></span>
      </li>

      <li nz-submenu nzOpen nzTitle="Danh Mục" nzIcon="menu">
        <ul>
          <li nz-menu-item>
            <a routerLink="category/student-list">Quản lý sinh viên</a>
          </li>
          <li nz-menu-item>
            <a routerLink="category/room-list">Quản lý phòng</a>
          </li>
          <li nz-menu-item>
            <a routerLink="category/contract-list">Quản lý hợp đồng</a>
          </li>
          <li nz-menu-item>
          <a routerLink="category/asset-list">Quản lý tài sản</a>
          </li>
          <li nz-menu-item>
            <a routerLink="category/invoice-list">Hóa đơn thanh toán</a>
            </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Báo cáo" nzIcon="book">
        <ul>
          <li nz-menu-item>
            <a routerLink="report/report-list">Báo cáo kỉ luật</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout> -->